* {
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.scene-render-root * {
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 0;
}

.scene-render-root {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

html {
    user-select: none;
}
