* {
    box-sizing: border-box;
    user-select: none;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none !important;
}

.app-element {
    position: absolute;
    display: block;
    transform: translate(0, 0);
    background: mediumvioletred;
    overflow:hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}